/* inicio header */
.img--header {
    height: 200px;
    margin-left: 250px;
    padding-top: 15px;
    padding-bottom: 15px;
}



.h1--header {
    color: rgb(0, 0, 0);
    font-family: $font01;
    font-weight: bold;
    text-align: left;
    filter: drop-shadow(3px 3px 10px $colorFondo);
}

.row--header {
    display: flex;
    align-items: center;
    
}

header {
    background-color: #f8f8f8;
}

.div--newsletter p {
    margin-bottom: 5px;
}


/* fin header */