/* inicio header */
.img--header {
    height: 200px;
    margin-left: 250px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.h1--header {
    
    font-family: $font01;
    font-weight: bold;
    text-align: left;
}

.row--header {
    display: flex;
    align-items: center;
    // margin-top: 20px;
    // margin-bottom: 20px;
    
}

header {
    background-color: #f8f8f8;
}

.div--newsletter p {
    margin-bottom: 5px;
}



/* fin header */