.div--hifu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: auto;
    height: auto;
    background-image: url(../images_v3/circles.svg);
}

.img--vela {
    max-width: 75%;
    height: auto;
    margin-top: 30px;
    margin-bottom: 40px;
    padding: 8px;
    border: 1px solid rgb(126, 207, 201);
    border-radius: 3px;
}

.card--vela {
    width: 500px;
    height: 400px;
    border-radius: 10px;
    background: $gradiente;
    box-shadow: $boxShadow;
    margin-bottom: 10px;
    
}

.row-velaSlim {
    margin-bottom: 50px;
}

.velaslimplus {
    font-family: $font02;
}

.lista--hifu hr {
  height: 0;
  border: 0;
  background-color: rgba(255, 255, 255, 0);
}