

.jumbotron {
    height: 350px;
    background-image: url(../images_v3/charlaOnline.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 40px;
   
}

.row--jumbotron {
    border-top: 1px solid rgb(206, 206, 206);
}

.jumbotron h1 {
    text-shadow: 1px 1px 8px black;
    color: whitesmoke;
}

.jumbotron p {
    background-color: rgba(255, 255, 255, 0.479);
    padding: 1% 2%;
    font-size: large;
}


.h2--charlas {
    margin-top: 20px;
}

.tabla--charlas {
    margin-bottom: 50px;
}

