.row--productos {
    margin-top: 30px;
    margin-bottom: 25px;
    
}

.row--productos .card {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
   
}

.cardTitle--productos {
    font-size: 18px;
}

.h3--productos {
    margin-top: 20px;
}

.btn-primary {
    background-color: $colorCarousel;
    color: black;
    border: 1px solid rgb(43, 42, 42) ;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #05aeb4;
    border-color: #285e8e;
}