.row--productos {
    margin-top: 30px;
    margin-bottom: 60px;
    
}

.row--productos .card {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
   
}

.cardTitle--productos {
    font-size: 18px;
}

.h3--productos {
    margin-top: 20px;
}

.btn-primary {
    background-color: $colorCarousel;
    color: black;
    border: 1px solid rgb(43, 42, 42) ;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #05aeb4;
    border-color: #285e8e;
}

.card-text1 {
    margin-bottom: 3px;
}

video {
    width: 420px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 10px 10px;
    border: 1px solid black;
    border-radius: 3px;
    box-shadow: $boxShadow;

}

.h2--productos { 
   margin-right: 35px;
   padding-top: 20px;
   margin-top: 35px
   
}

.marginKit {
    margin-bottom: 27px;
}

.tituloProductos {
    background-image: $gradiente;
    margin-top: 60px;
    margin-bottom: 35px;
    align-items: center;
    padding: 20px;
    box-shadow: $boxShadow;
    
}


.div--tituloProductos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-items: center;
    gap: 40px;
}

.div--tituloProductos h2 {
    padding-top: 15px;
}

.div--pagoEnvio {
    display: flex;
    justify-content: center
}

.formasPagoEnvio {
    font-size: 18px;
    font-weight: bold;
    margin-top: 55px;
    text-align: center;
    background-color: $colorCarousel;
    width: 40%;
    line-height: 35px;
    border-radius: 5px;

}

.formasPagoEnvio a {
    text-decoration: none;
    color: black;
}

.formasPagoEnvio a:hover {
    color: blue;
}
