@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
/* font-family: 'Lato', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
/* font-family: 'Satisfy', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
/* font-family: 'Playfair Display', serif; */



*{
    margin: 0;
    padding: 0;
}




/* inicio header */
.img--header {
    height: 150px;
    margin-left: 100px;
}

.h2--header {
    /* margin-top: 75px; */
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.row--header {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
/* fin header */


/* inicio menu de navegacion */
.navbar {
    background-color: #34bfb154 !important;
}

.navbar ul li {
    margin-left: 60px;
    margin-right: 60px;
}

/* fin menu de navegacion */



/* inicio footer */


#navSecundaria {
    background-color: rgba(255, 235, 205, 0); 
}

.footer__ul li {
    margin-bottom: 8px;
}

.footer__ul {
    list-style: none;
}

.footer__a {
    color: black;
    text-decoration: none;
}

.footer__a:hover {
    color: blue;
}

.footer__a:active {
    color: rgb(87, 2, 87)
}

.footer__img {
    width: 20px;
    display: block;
    margin: 4px;
}

.footer__tablaContacto tr td img {
    padding-bottom: 15px;
}
    
    
    



.footer__div--redes {
    margin-bottom: 25px;
}



footer {
    background-color: #34bfb154;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer__p {
    font-family: 'Playfair Display', serif;
}

/* fin footer */


/* inicio main */

/* descuentos */


.giftCard {
    height: 100px;
    
}

.div--giftCard p {
    margin-top: 20px;
    
}

.div--descuentos h3 {
    margin-bottom: 20px;
}

.container--descuentos{
    background-color: #34bfb154;
    padding: 10px;
    margin-top: 15px;
}

.container--descuentos h2{
    padding: 10px;
}

/* fin descuentos */



/* mapa */

.seccion--mapa {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    
}

.container--mapa {
    padding: 15px 15px;
    margin-bottom: 20px;
}

/* fin mapa */


h2{
    font-family: 'Satisfy', cursive;

}

.h2--testimonios {
   margin-top: 15px;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 0;
   padding: 10px 25px;
}

.centrado {
    text-align: center;
}

.seccion__img--descuentos {
    display: flex;
    flex-direction: row;
}

h3 {
    font-family: 'Lato', sans-serif;
}

h4 {
    font-family: 'Lato', sans-serif;
}

.img--bienvenidos {
    width: 500px;
    height: auto;
    border-radius: 3px;
    max-width: 100%
}

.img--redes {
    width: 25%;
    margin-right: 10px;
}

.row--bienvenidos {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #34bfb154;
    padding: 10px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.116);

}

.row--nosotras {
    background-image: linear-gradient(to right bottom, #ffffff, #f1f4f9, #deebf2, #cae2e6, #bad9d3);
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    padding: 15px;
}



.p--bienvenidos {
    text-align: justify;
    padding: 15px;
}
.p--testimonios {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-size: 20px;
    height: 304px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 15%;
    padding-right: 15%;
}

.card--tratamientos {
    margin: 35px;
}

.card-text {
    text-align: justify;
}

.card-img-top {
    padding-top: 15px;
}



.testimonios {
    height: 300px;
    background-color: rgba(210, 105, 30, 0.274);
}

.nombres--testimonios {
    font-size: 14px;
    font-style: normal;
}




.testimonios h2 {
    text-align: center;
    padding: 100px;
}

.slideTestimonios {
    background-color: rgb(245, 229, 240);
    height: 304px;
    
}

.img--nosotras {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80% !important;
    height: auto;
    
}

.p--nosotras {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row-tabla {
    background-image: linear-gradient(to left, #eef2f8, #f1f4f9, #deebf2, #cae2e6, #bad9d3);
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
}

/* formulario */

form {
    background-color: rgba(27, 155, 172, 0.185);
    border: 1px solid black; 
    margin: 15px;
    padding: 10px;
} 

legend {
    font-family: 'Lato', sans-serif;
    padding: 10px;
}

textarea {
    width: 90%;
    margin: 10px;
    padding: 10px;
}

.input {
    margin: 10px;
    padding: 10px;
} 

.label {
    margin-left: 10px;
    font-family: 'Lato', sans-serif;
} 

.img--nosotras {
    border-radius: 3px;
    width: 200px;
    height: auto;
    margin-bottom: 10px;
    margin-left: auto;
    

}



.articulo--nosotras {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: auto;
    
    
   
}

.articulo__pComun--nosotras {
    width: 100%;
    /* margin-left: 5%; */
    margin-top: 15px;
    margin-bottom: 50px;
    
    

}


.legendFormulario {
    font-weight: bold;
}


/* fin formulario */




/* fin main */

