@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
/* font-family: 'Lato', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
/* font-family: 'Satisfy', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
/* font-family: 'Playfair Display', serif; */

//colores
$colorFondo: #34bfb154;
$colorCarousel: #f5e5f0;


//gradiente
$gradiente: linear-gradient(to bottom, #f5e5f0, #f6ecf5, #f8f3fa, #fbf9fd, #ffffff);


//fuentes
$font01: 'Lato',
sans-serif;
$font02: 'Satisfy',
cursive;
$font03: "Playfair Display",
serif;


//box shadow
$boxShadow: 5px 5px 15px rgba(0, 0, 0, 0.116);




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* inicio main */


.h2--cursive {
    font-family: $font02;

}

.h2--lato {
    font-family: $font01;
}

.h3--lato {
    font-family: $font01;
}

.h2--testimonios {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    padding: 10px 25px;
}

.centrado {
    text-align: center;
}



h3 {
    font-family: $font01;
}

.mapa__h3 {
    font-family: $font01;
}

.img--bienvenidos {
    width: 500px;
    height: auto;
    border-radius: 3px;
    max-width: 100%
}


//iconos redes index
.seccion__img--descuentos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}



.img--redes {
    width: 75px;
}

//fin iconos redes index




.row--bienvenidos {
    display: flex;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 20px;
    background-color: $colorFondo;
    padding: 10px;
    box-shadow: $boxShadow;

}

.row--nosotras {
    background-image: $gradiente;
    margin-top: 35px;
    margin-bottom: 65px;
    display: flex;
    align-items: center;
    padding: 20px;
    box-shadow: $boxShadow;
}

.h2--nosotras {
    margin-top: 50px;
}

.h2--trat {
    margin-top: 20px;
}



.p--bienvenidos {
    text-align: justify;
    /* padding: 15px; */
}

.textoBienvenidos {
    padding: 5px;
}

.tituloBienvenidos {
    margin-top: 10px;
}




.p--testimonios {
    text-align: center;
    font-family: $font01;
    font-style: italic;
    font-size: 20px;
    height: 304px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 15%;
    padding-right: 15%;
}

.nombres--testimonios {
    font-size: 14px;
    font-style: normal;
    text-align: center;
    margin-top: 15px;


}

.card--tratamientos {
    margin: 35px;
    background-image: $gradiente;

}

.row--tratamientos {
    margin-bottom: 50px;
}

.card-text {
    text-align: justify;
}

.card-img-top {
    padding-top: 15px;
}







.img--nosotras {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80% !important;
    height: auto;

}

.p--nosotras {
    display: flex;
    flex-direction: column;
}

.p--nosotras span {
    font-weight: bold;
    font-size: 18px;

}




/* fin main */



//imports

@import "_animacionImagenes.scss";
@import "_carousel.scss";
@import "_descuentos.scss";
@import "_footer.scss";
@import "_formulario.scss";
@import "_header.scss";
@import "_mapa.scss";
@import "_nav.scss";
@import "_botonHeader.scss";
@import "_whatsapp.scss";
@import "_productos.scss";
@import "_velaSlim.scss";

//fin imports



// media queries

@media (max-width: 768px) {

    .navbar-expand-md ul li a {
        text-align: center;
    }

    .tituloBienvenidos {
        margin-top: 30px;
    }

    .div--giftCard {
        border-top: 1px dotted #999;
        padding-top: 30px;
    }


    .div--descuentos {
        padding-bottom: 30px;

    }

    header h1 {
        padding-bottom: 15px;
        font-size: 25px;
    }

    .img--header {
        margin-left: auto;
        height: 150px;
        padding-top: 30px
    }


    .caja--logoFormulaBustos {
        justify-content: center;
    }

    .row--envios div {
        margin-bottom: 10px;
    }

    .iconoFacebook {
        margin-right: 10px;
    }

    .button,
    .button:before,
    .button:after,
    .button:hover,
    .button:hover:before,
    .button:hover:after {
        margin-bottom: 10px;
        font-size: 16px;

    }

    .div--newsletter p {
        margin-bottom: 3px;
    }

    .card--mobile {
        margin-bottom: 25px;
    }

    video {
        width: 320px;
    }

    .h3--productos {
        margin-left: 10px;
    }

    .img--labo {
        margin-top: 10px;
    }


    .div--tituloProductos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        flex-wrap: wrap;
        gap: 5px;

    }

    .row--productos {
        margin-bottom: 15px;
    }

    .div--velaSlim {
        display: flex;
        flex-wrap: wrap;
        background-size: cover;
    }

    .img--vela {
        max-width: 90%;
        height: auto;

    }

    .row--tratamientos {
        margin-bottom: 10px;
    }

    .footer__div--marginBottom {
        margin-bottom: 25px;
    }

    .row--header {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: nowrap;
    }

    .h1--header {
        font-size: 1.5rem;
        padding-top: 20px;
        text-align: left;
    }

    .img--header {
        height: 120px;
        margin-left: 20px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .div--newsletter {
        display: none
        // display: flex;
        // justify-content: right;
        // flex-direction: column;
        // text-align: right;
        // padding-right: 30px;
    }

    .div--logoHeader {
        width: 50%;
    }

}

// fin media queries